.cart-list{
    display: flex;
    justify-content: space-between;
}

.cart{
    width: 22%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.cart img {
    height: 250px;
    object-fit:contain;
}

.cart h2{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.cart button{
    height: 40px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
}